/* Variáveis - Fontes do Google */
$ff-barlow: "Barlow", sans-serif;
$ff-fraunces: "Fraunces", serif;

/* Variáveis - Cores */
$cor-softRed: hsl(7, 99%, 70%);
$cor-yellow: hsl(51, 100%, 49%);
$cor-darkDesCyan: #25564b; //(graphic design text)
$cor-darkBlue: hsl(198, 62%, 26%); // (photography text)
$cor-darkModCyan: hsl(168, 34%, 41%); //(footer)
$cor-vdarkDesBlue: hsl(212, 27%, 19%);
$cor-vdarkGrayishBlue: hsl(213, 9%, 39%);
$cor-darkGrayishBlue: hsl(232, 10%, 55%);
$cor-grayishBlue: hsl(210, 4%, 67%);
$cor-white: hsl(0, 0%, 100%);

/* Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin-block-end: 0;
}
ul[role='list'], ol[role='list'] {
    list-style: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img, picture {
    max-width: 100%;
    display: block;
}

/* Estilização Global */
body {
    width: 100%;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: $ff-barlow;
    font-weight: 600;
    font-optical-sizing: auto;
    background-color: $cor-white;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2.4fr 1.8fr 1.8fr 1.8fr 2.4fr calc(25vw * 1.2416) 1fr;
    grid-template-areas: 
    "header header header header"
    "section-1 section-1 section-2 section-2"
    "section-3 section-3 section-4 section-4"
    "section-5 section-5 section-6 section-6"
    "section-7 section-7 section-7 section-7"
    "section-8 section-9 section-10 section-11"
    "footer footer footer footer";
}

.main {
    display: contents;
}

.header {
    grid-area: header;
}

.section-1 {
    grid-area: section-1;

}

.section-2 {
    grid-area: section-2;

}

.section-3 {
    grid-area: section-3;

}

.section-4 {
    grid-area: section-4;

}

.section-5 {
    grid-area: section-5;
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

.section-6 {
    grid-area: section-6;
    background-image: url("images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.container-section {
    display: contents;
}

.section-7 {
    grid-area: section-7;

}

.section-8 {
    grid-area: section-8;

}

.section-9 {
    grid-area: section-9;

}

.section-10 {
    grid-area: section-10;

}

.section-11 {
    grid-area: section-11;

}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8cd0cb;
    padding: 3rem 0rem;


    &__logo {
        scale: 1.4;
    }

    &__ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    &__li {
        font-family: $ff-barlow;
        font-size: 1.2rem;
        color: $cor-darkDesCyan;
        font-weight: 600;
        padding: 2rem 2rem 3rem 2rem;
        transition: all 0.6s ease-in-out;
    }

    &__li:hover {
        color: $cor-white;
        cursor: pointer;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center; 
        transition: all 0.6s ease-in-out;   
    }

    &__icon {
        padding: 0rem 1rem;
        fill: $cor-darkModCyan;
        transition: all 0.3s ease-in-out; 
    }

    &__icon:hover {
        scale: 2;
        cursor: pointer;
    }

}

.hero {
    display: flex;

    &__imagem {
        height: 100%;
    }
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__imagem {
        width: 100%;
    }

    &__titulo {
        font-family: $ff-fraunces;
        font-size: 2.75rem;
        font-weight: 800;
        line-height: 1;
        text-align: left;
        margin: 0 9rem;
        color: $cor-vdarkDesBlue;
        padding-bottom: 2rem; 
    }

    &__paragrafo {
        font-family: $ff-barlow;
        font-size: 1.15rem;
        color: $cor-darkGrayishBlue;
        font-weight: 600;
        text-align: left;
        margin: 0 9rem;
    }

    &__btt {
        position: relative;
        left: -20%;
        top: 2rem;
    }

    &__button {
        font-family: $ff-fraunces;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.25;
        margin: 0 9rem;
        color: $cor-vdarkDesBlue;
        padding: 1rem 0rem;
        border: none;
        background-color: transparent;
        transition: all 0.6s ease-in-out;
    }

    &__button:hover {
        cursor: pointer;
        color: $cor-darkGrayishBlue;
    }

    &__underline {
        position: absolute;
        width: 10.25rem;
        height: 0.5rem;
        border-radius: 0.25rem;
        background-color: $cor-yellow;
        margin: 0 8.5rem;
        top: 1.75rem;
        z-index: -1;
        opacity: 40%;
        transition: all 0.6s ease-in-out;
    }

    &__underline--pink {
        position: absolute;
        width: 10.25rem;
        height: 0.5rem;
        border-radius: 0.25rem;
        background-color: $cor-softRed;
        margin: 0 8.5rem;
        top: 1.75rem;
        z-index: -1;
        opacity: 40%;
        transition: all 0.6s ease-in-out;
    }
}

.section-5,
.section-6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__titulo {
        font-family: $ff-fraunces;
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 1;
        text-align: center;
        margin: 0rem 9rem 3rem 9rem;
        color: $cor-darkDesCyan;
    }

    &__paragrafo {
        font-family: $ff-barlow;
        font-size: 1.1rem;
        color: $cor-darkDesCyan;
        font-weight: 500;
        text-align: center;
        margin: 0rem 9rem 4rem 9rem;
    }
}

.section-gallery {

    &__imagem {
        width: 25vw;
        height: calc(25vw * 1.2416);
    }
}

.section-7 {
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: 1.25fr 3fr;
    gap: 1rem;
    margin: 0 5rem;
    grid-template-areas: 
    "section-7_container section-7_container section-7_container"
    "article-1 article-2 article-3";

    &__titulo {
        font-family: $ff-fraunces;
        font-size: 1.15rem;
        font-weight: 800;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.35rem;
        color: $cor-grayishBlue;
        padding-bottom: 4rem;   
    }

    &__article {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0rem 2rem;
    }

    &__avatar {
        width: 75px;
        height: 75px;
        border-radius: 37.5px;
    }

    &__paragrafo {
        font-family: $ff-barlow;
        color: $cor-darkGrayishBlue;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 0.025;
        padding-top: 3rem;
    }

    &__nome {
        font-family: $ff-fraunces;
        color: $cor-vdarkDesBlue;
        font-weight: 700;
        font-size: 1.25rem;
        padding-top: 3rem;
    }

    &__cargo {
        font-family: $ff-barlow;
        color: $cor-grayishBlue;
        font-weight: 600;
        font-size: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section-7__container {
    grid-area: section-7_container;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.article-1 {
    grid-area: article-1;
}

.article-2 {
    grid-area: article-2;
}

.article-3 {
    grid-area: article-3;
}