@keyframes moveArrow {
    from {
        transform : translateY(0);
        opacity   : 1;
    }

    to {
        transform : translateY(5rem);
    }
}

/* Variáveis - Fontes do Google */
$ff-barlow: "Barlow", sans-serif;
$ff-fraunces: "Fraunces", serif;

/* Variáveis - Cores */
$cor-softRed: hsl(7, 99%, 70%);
$cor-yellow: hsl(51, 100%, 49%);
$cor-darkDesCyan: #25564b; //(graphic design text)
$cor-darkBlue: hsl(198, 62%, 26%); // (photography text)
$cor-darkModCyan: hsl(168, 34%, 41%); //(footer)
$cor-vdarkDesBlue: hsl(212, 27%, 19%);
$cor-vdarkGrayishBlue: hsl(213, 9%, 39%);
$cor-darkGrayishBlue: hsl(232, 10%, 55%);
$cor-grayishBlue: hsl(210, 4%, 67%);
$cor-white: hsl(0, 0%, 100%);

/* Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin-block-end: 0;
}
ul[role='list'], ol[role='list'] {
    list-style: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img, picture {
    max-width: 100%;
    display: block;
}

/* Estilização Global */
body {
    width: 100%;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: $ff-barlow;
    font-weight: 600;
    font-optical-sizing: auto;
    background-color: $cor-white;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 55.56vw calc(83.33vw / 2) calc(83.33vw / 2) calc(83.33vw / 2) 5fr calc(25vw * 1.2416) 1.75fr;
    grid-template-areas: 
    "header header header header"
    "section-1 section-1 section-2 section-2"
    "section-3 section-3 section-4 section-4"
    "section-5 section-5 section-6 section-6"
    "section-7 section-7 section-7 section-7"
    "section-8 section-9 section-10 section-11"
    "footer footer footer footer";
}

.main {
    display: contents;
}

.header {
    grid-area: header;
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__titulo {
        font-family: $ff-fraunces;
        font-size: clamp(2.25rem, 3.88vw, 7.625rem);
        font-weight: 800;
        color: $cor-white;
        letter-spacing: clamp(0.25rem, 0.66vw, 1rem);
        text-transform: uppercase;
        padding-bottom: clamp(2.5rem, 6.66vw, 10rem);
        padding-top: 1vw;
    }

    &__seta {
        align-self: center;
        animation: moveArrow 2s 4s infinite alternate;
    }
}

.hero {
    position: relative;

    &__imagem {
        height: 100%;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        height: clamp(2.2rem, 1.8vw, 4rem);
        padding-left: clamp(2rem, 1.44vw, 6rem);
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: clamp(0.75rem, 1.66vw, 2rem) clamp(0.5rem, 1.11vw, 1.5rem) clamp(0.75rem, 1.66vw, 2rem) clamp(0.5rem, 1.11vw, 1.5rem);
    }

    &__ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-right: clamp(1rem, 2.22vw, 3rem);
        color: $cor-white;
    }

    &__li {
        padding-right: clamp(1rem, 3.33vw, 4rem);

    }

    &__a {
        font-weight: 500;
        font-size: clamp(0.75rem, 1.27vw, 2.25rem);
        color: $cor-white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    &__a:hover {
        padding-bottom: clamp(0.15rem, 0.28vw, 0.5rem);
        border-bottom: clamp(0.5rem, 0.55vw, 1rem) solid $cor-yellow;
    }

    &__a:focus {
        padding-bottom: clamp(0.15rem, 0.28vw, 0.5rem);
        border-bottom: clamp(0.5rem, 0.55vw, 1rem) solid $cor-yellow;
    }

    &__button {
        font-family: $ff-fraunces;
        font-weight: 700;
        font-size: clamp(0.5rem, 1.11vw, 1.5rem);
        color: $cor-darkDesCyan;
        text-decoration: none;
        text-transform: uppercase;
        background-color: $cor-white;
        padding: clamp(0.5rem, 1.11vw, 1.5rem) clamp(0.75rem, 1.66vw, 2rem) clamp(0.5rem, 1.11vw, 1.5rem) clamp(0.75rem, 1.66vw, 2rem);
        border-radius: clamp(0.75rem, 1.66vw, 2rem);
        border: none;
        transition: all 0.3s ease-in-out;
        align-self: center;
    }

    &__button:hover {
        background-color: hsla(0, 0%, 100%, 0.5);
    }

    &__button:focus {
        background-color: hsla(0, 0%, 100%, 0.5);
    }

    &__off-screen-menu {
        display:none;
    }

    &__hamburguer {
        display: none;
    }
}

.section-1 {
    grid-area: section-1;

}

.section-2 {
    grid-area: section-2;

    &__imagem--mobile {
        display: none;
    }

}

.section-3 {
    grid-area: section-3;

}

.section-4 {
    grid-area: section-4;

}

.section-5 {
    grid-area: section-5;
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

.section-6 {
    grid-area: section-6;
    background-image: url("images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.container-section {
    display: contents;
}

.section-7 {
    grid-area: section-7;
}

.section-8 {
    grid-area: section-8;

}

.section-9 {
    grid-area: section-9;

}

.section-10 {
    grid-area: section-10;

}

.section-11 {
    grid-area: section-11;

}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8cd0cb;
    padding: clamp(2.5rem, 3.33vw, 4rem) 0rem clamp(2.5rem, 3.33vw, 4rem) 0rem;

    &__logo {
        scale: 1.4;
    }

    &__ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    &__li {
        font-family: $ff-barlow;
        font-size: clamp(1rem, 1.33vw, 2.4rem);
        color: $cor-darkDesCyan;
        font-weight: 600;
        padding: clamp(1rem, 2.22vw, 3rem) clamp(1rem, 2.22vw, 3rem) clamp(1rem, 3.33vw, 4rem) clamp(1rem, 2.22vw, 3rem);
        transition: all 0.6s ease-in-out;
    }

    &__li:hover {
        color: $cor-white;
        cursor: pointer;
    }

    &__li:focus {
        color: $cor-white;
        cursor: pointer;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center; 
        transition: all 0.6s ease-in-out;   
    }

    &__icon {
        padding: 0rem 1rem;
        fill: $cor-darkModCyan;
        transition: all 0.3s ease-in-out; 
    }

    &__icon:hover {
        scale: 2;
        cursor: pointer;
    }

    &__icon:focus {
        scale: 2;
        cursor: pointer;
    }

}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__imagem {
        width: 100%;
    }

    &__titulo {
        font-family: $ff-fraunces;
        font-size: clamp(2.2rem, 3.055vw, 88px);
        font-weight: 800;
        line-height: 1;
        text-align: left;
        margin: 0 clamp(1rem, 10vw, 16rem) 0 clamp(1rem, 10vw, 16rem);
        color: $cor-vdarkDesBlue;
        padding-bottom: clamp(2rem, 2.22vw, 4rem);  
    }

    &__paragrafo {
        font-family: $ff-barlow;
        font-size: clamp(1rem, 1.27vw, 2.25rem);
        color: $cor-darkGrayishBlue;
        font-weight: 600;
        text-align: left;
        margin: 0 clamp(1rem, 10vw, 16rem) 0 clamp(1rem, 10vw, 16rem);
    }

    &__btt {
        position: relative;
        left: -20vw;
	    top: clamp(1rem, 2.22vw, 4rem);
    }

    &__button {
        position: relative;
        font-family: $ff-fraunces;
        font-size: clamp(1rem, 1.22vw, 2.20rem);
        font-weight: 700;
        line-height: 1;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: clamp(0.15rem, 0.28vw, 0.5rem);
        color: $cor-vdarkDesBlue;
        padding: clamp(0.5rem, 1.11vw, 1.5rem) 0 clamp(0.5rem, 1.11vw, 1.5rem) 0;
        border: none;
        background-color: transparent;
        transition: all 0.6s ease-in-out;
        left: clamp(1.25rem, 12vw, 16rem); //mudar sistema
    }

    &__button--yellow::before {
        content: "";
        background: hsla(51, 100%, 49%, 0.35);
        height: clamp(0.5rem, 0.83vw, 1.25rem);
        border-radius: clamp(0.5rem, 0.83vw, 1.25rem);
        width: calc(1.22vw * 11);
        position: absolute;
        bottom: clamp(0.5rem, 0.83vw, 1.25rem); 
        z-index: -1;
      }

    &__button--pink::before {
        content: "";
        background: hsla(7, 99%, 70%, 0.35);
        height: clamp(0.5rem, 0.83vw, 1.25rem);
        border-radius: clamp(0.5rem, 0.83vw, 1.25rem);
        width: calc(1.22vw * 11);
        position: absolute;
        bottom: clamp(0.5rem, 0.83vw, 1.25rem); 
        z-index: -1;
      }

    &__button:hover {
        cursor: pointer;
        color: $cor-darkGrayishBlue;
    }

    &__button:focus {
        cursor: pointer;
        color: $cor-darkGrayishBlue;
    }
}

.section-5,
.section-6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__titulo {
        font-family: $ff-fraunces;
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 1;
        text-align: center;
        margin: 0 clamp(1.25rem, 10vw, 16rem) clamp(1rem, 3.33vw, 4rem) clamp(1.25rem, 10vw, 16rem);
        color: $cor-darkDesCyan;
    }

    &__paragrafo {
        font-family: $ff-barlow;
        font-size: clamp(1rem, 1.22vw, 2.20rem);
        color: $cor-darkDesCyan;
        font-weight: 600;
        text-align: center;
        margin: 0 clamp(1.25rem, 10vw, 16rem) clamp(1rem, 3.33vw, 4rem) clamp(1.25rem, 10vw, 16rem);
    }
}

.section-gallery {

    &__imagem {
        width: 25vw;
        height: calc(25vw * 1.2416);
    }

    &__imagem--mobile {
        display: none;
    }
}

.section-7 {
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: 1.25fr 3fr;
    gap: 1rem;
    margin: 0 5rem;
    grid-template-areas: 
    "section-7_container section-7_container section-7_container"
    "article-1 article-2 article-3";

    &__titulo {
        font-family: $ff-fraunces;
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.35rem;
        color: $cor-grayishBlue;
        padding-bottom: 4rem;   
    }

    &__article {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0rem clamp(1rem, 2.22vw, 3rem);
    }

    &__avatar {
        width: 75px;
        height: 75px;
        border-radius: 37.5px;
    }

    &__paragrafo {
        font-family: $ff-barlow;
        color: $cor-vdarkGrayishBlue;
        font-weight: 600;
        font-size: clamp(1rem, 1.33vw, 2.4rem);
        letter-spacing: 0.025;
        padding-top: 3rem;
    }

    &__nome {
        font-family: $ff-fraunces;
        color: $cor-vdarkDesBlue;
        font-weight: 700;
        font-size: 1.25rem;
        padding-top: 3rem;
    }

    &__cargo {
        font-family: $ff-barlow;
        color: $cor-grayishBlue;
        font-weight: 600;
        font-size: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section-7__container {
    grid-area: section-7_container;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.article-1 {
    grid-area: article-1;
}

.article-2 {
    grid-area: article-2;
}

.article-3 {
    grid-area: article-3;
}

@media only screen and (min-width: 320px) and (max-width: 499.99px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: 140.60vw 83.20vw 120vw 83.20vw 120vw 160vw 160vw 280vw 50vw 50vw 50vw;
        grid-template-areas: 
        "header header"
        "section-2 section-2"
        "section-1 section-1"
        "section-3 section-3"
        "section-4 section-4"
        "section-5 section-5"
        "section-6 section-6"
        "section-7 section-7"
        "section-7 section-7"
        "section-8 section-9"
        " section-10 section-11"
        "footer footer";
    }

    .header {
        grid-area: header;
        background-image: url("images/image-header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: content;
        text-align: center;
        display: flex;
        flex-direction: column;

        &__titulo {
            padding-top: 2rem;
        }
    }

    .nav {

        &__logo {
            padding-top: 0.8rem;
        }

        &__menu {
            display: none;
        }

        &__off-screen-button {
            margin-right: 0;
            margin-top: 0.75rem;
            margin-bottom: 0;
            background-color: $cor-yellow;
            color: $cor-vdarkDesBlue;
            font-family: $ff-fraunces;
            font-weight: 600;
            font-size: 0.95rem;
            text-transform: uppercase;
            padding: 1rem 1.5rem;
            border: none;
            border-radius: 2rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }

        &__off-screen-button:hover { 
            background-color: $cor-grayishBlue;
            color: $cor-white;
        }

        &__off-screen-button:focus { 
            background-color: $cor-grayishBlue;
            color: $cor-white;
        }

        &__off-screen-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            position: absolute;
            top: 7rem;
            right: -95%;
            background-color: $cor-white;
            width: 90%;
            transition: right 0.5s;
            margin: 0 5%;
            z-index: 1;
        }

        &__off-screen-list {
            list-style: none;
            text-align: center;
            transform: translate(-10%, 0)
        }

        &__off-screen-li {
            padding-bottom: 1.25rem;
        }

        &__off-screen-li:first-child {
            padding-top: 1rem;
        }

        &__off-screen-a { 
            text-decoration: none;
            color: $cor-darkGrayishBlue;
            font-weight: 600;
            font-size: 1.15rem;
            letter-spacing: 0.05rem;
            transition: all 0.3s ease-in-out;
        }

        &__off-screen-a:hover { 
            text-decoration-line: underline;
            text-decoration-color: $cor-yellow ;
            border-bottom: 0.5rem solid $cor-yellow;
            color: $cor-vdarkDesBlue;
        }

        &__off-screen-a:focus { 
            text-decoration-line: underline;
            text-decoration-color: $cor-yellow ;
            border-bottom: 0.5rem solid $cor-yellow;
            color: $cor-vdarkDesBlue;
        }

        &__off-screen-menu.active {
            right: 0;
        }    

        &__triangulo {
            display: block;
            height: 3.25vh;
            width: 6.5vw;
            position: absolute;
            top: -3.25vh;
            right: -5%;
            margin: 0 5%;
            z-index: 1;
            background: linear-gradient(to bottom right, transparent 0%, transparent 50%, $cor-white 50%, $cor-white 100%);
        }

        &__hamburguer {
            display: block;
            height: 20px;
            width: 20px;
            margin: 2rem 1rem;
            top: 0;
            right: 0;
            position: relative;
            cursor: pointer;
            padding: 1rem;
            
            &__bar {
                width: 75%;
                height: 2px;
                background-color: $cor-white;
                border-radius: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: transform 0.6s, opacity 0.8s, top 0.6s;
            }
        }
                        
        &__hamburguer.active .bar-top {
            transform: translate(-50%, -50%) rotate(-315deg);
            top: 50%;
        }
            
        &__hamburguer.active .bar-mid {
            opacity: 0;
        }
            
        &__hamburguer.active .bar-bottom {
            transform: translate(-50%, -50%) rotate(-225deg);
            top: 50%;
        }
    }

    .bar-top {
        top: 25%;
    }
    
    .bar-bottom {
        top: 75%;
    }

    .section {

        display: flex;
        justify-content: center;

        &__titulo {
            text-align: center;
        }

        &__paragrafo {
            text-align: center;           
        }

        &__button {
            text-align: center;
        }
    
        &__button--yellow::before {
             width: calc(1.22vw * 35);
          }
    
        &__button--pink::before {
            width: calc(1.22vw * 35);
          }

        &__btt {
            left: -12vw;
        }
    }

    .section-2 {

        margin: 0;
        padding: 0;

        &__imagem--desktop {
            display: none;
        }

        &__imagem--mobile {
            display: block;
            height: 83.20vw;
        }
    }

    .section-5 {
        grid-area: section-5;
        background-image: url("images/image-graphic-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .section-6 {
        grid-area: section-6;
        background-image: url("images/image-photography.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-5, 
    .section-6 {
        
        &__titulo {
            padding-top: 85vw;
            padding-bottom: 5vw;
        }
    }

    .section-7 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.80fr 0.8fr 0.8fr;
        margin: 1rem 1rem 2rem 1rem;// mudado
        grid-template-areas: 
        "section-7_container"
        "article-1"
        "article-2"
        "article-3";
    
        &__titulo {
            font-size: 1rem; // mudado
            padding-bottom: 1.5rem;   // mudado
        }
    
        &__article {
            padding: 0rem 1rem; // mudado
            
        }
    
        &__avatar {
            width: 70px;// mudado
            height: 70px;// mudado
            border-radius: 35px;// mudado
        }
    
        &__paragrafo {
            color: $cor-vdarkGrayishBlue;
            font-weight: 600;
            font-size: 1.1rem; // mudado
            padding-top: 1rem; // mudado
        }
    
        &__nome {
            padding-top: 0.5rem; // mudado
        }
    
        &__cargo {
            margin-top: 0.25rem;// mudado
        }
    }

    .section-gallery {

        &__imagem {
            display: none;
        }

        &__imagem--mobile {
            display: block;
            width: 50vw;
            height: 50vw;
        }
    }

    .footer {
        background-color: #8cd0cb;

        &__titulo {
            padding-top: 2rem;
        }
    }

}

@media only screen and (min-width: 500px) and (max-width: 649.99px) {

    .container {
        grid-template-rows: 65vw calc(83.33vw / 2) calc(83.33vw / 2) calc(83.33vw / 2) 5fr calc(25vw * 1.2416) 1.75fr;
    }

    .header {
        background-size: cover;
        background-position: center;

        &__seta {
            scale: 0.65;
        }
    }

    
    .nav {

        &__logo {
            height: 3.5vw;
        }
    }

    .section {
    
        &__titulo {
            font-size: 1rem;
            margin: 0 1rem 0 1rem;
        }
    
        &__paragrafo {
            font-size: 0.7rem;
            margin: 0 1rem 0 1rem;
        }
    
        &__button {
            font-size: 0.7rem;
            left: 3.5rem;
        }
    
        &__button--yellow::before {
            width: calc(1.22vw * 19);
        }
    
        &__button--pink::before {
            width: calc(1.22vw * 19);
        }
    }
    
    .section-5,
    .section-6 {

        &__titulo {
            font-size: 1.25rem;
            margin: 1rem 0rem 1rem 1rem;
        }
        &__paragrafo {
            font-size: 0.75rem;
            margin: 1rem 0rem 1rem 1rem;
        }
    }

    .section-7 {
        margin: 0 1rem;
        gap: 1rem;
        
        &__titulo {
            font-size: 1rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    
        &__article {
            padding: 0rem; // alterado
        }
    
        &__paragrafo {
            font-size: 0.8rem;
            padding-top: 2rem;
        }
    
        &__nome {
            padding-top: 1rem;
        }

    }

}

@media only screen and (min-width: 650px) and (max-width: 799.99px) {

    .header {
        &__seta {
            scale: .75;
            align-self: center;
            animation: moveArrow 2s 4s infinite alternate;
        }
    }
    .nav {

        &__logo {
            height: 3.5vw;
        }
    }

    .section {
    
        &__titulo {
            font-size: 1.8rem;
            margin: 0 2rem 0 2rem;
        }
    
        &__paragrafo {
            font-size: 0.9rem;
            margin: 0 2rem 0 2rem;
        }
    
        &__button {
            font-size: 1rem;
            left: 5rem;
        }
    
        &__button--yellow::before {
            width: calc(1.22vw * 19);
        }
    
        &__button--pink::before {
            width: calc(1.22vw * 19);
        }
    }
    
    .section-5,
    .section-6 {

        &__paragrafo {
            margin: 2rem 1rem 1rem 1rem;
        }
    }

    .section-7 {
        margin: 0 1rem;
        gap: 1rem;
        
        &__titulo {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    
        &__article {
            padding: 0rem; // alterado
        }
    
        &__paragrafo {
            padding-top: 2rem;
        }
    
        &__nome {
            padding-top: 1rem;
        }

    }

}

@media only screen and (min-width: 800px) and (max-width: 999.99px) {

    .nav {

        &__logo {
            height: 3.5vw;
        }

        &__a:hover {
            padding-bottom: clamp(0.15rem, 0.28vw, 0.5rem);
            border-bottom: clamp(0.5rem, 0.55vw, 1rem) solid $cor-white;
        }

        &__a:focus {
            padding-bottom: clamp(0.15rem, 0.28vw, 0.5rem);
            border-bottom: clamp(0.5rem, 0.55vw, 1rem) solid $cor-white;
        }
    }
    .section {
            
        &__btt {

            left: -35%;
            top: 1%; 
        }  
    
        &__button--yellow::before {
            width: calc(1.22vw * 16);
          }
    
        &__button--pink::before {
            width: calc(1.22vw * 16);
          }
    }
    
    .section-5,
    .section-6 {

        &__paragrafo {
            margin: 2rem 1rem 1rem 1rem;
        }
    }

    .section-7 {
        
        &__titulo {
            padding-bottom: 2rem;
        }
    
        &__article {
            padding: 0rem 1rem;
        }
    
        &__paragrafo {
            padding-top: 2rem;
        }
    
        &__nome {
            padding-top: 1rem;
        }

    }

}
@media only screen and (min-width: 2500.01px) {

    .header {
    
        &__titulo {
            font-size: clamp(2.5rem, 12rem, 18rem);
        }
    
        &__seta {
            scale: 3;
        }
    }
    
    .nav {
        
        &__logo {
            height: clamp(4rem, 8rem, 10rem);
        }
    
        &__ul {
            padding-right: clamp(2rem, 4rem, 8rem);
        }
    
        &__li {
            padding-right:  clamp(4rem, 8rem, 10rem);
    
        }
    
        &__a {
            font-size:  clamp(2rem, 4rem, 8rem);
        }
    
        &__button {
            font-size:   clamp(2rem, 4rem, 8rem);
            padding: clamp(1rem, 2rem, 3rem) clamp(2rem, 4rem, 6rem);
            border-radius: clamp(2rem, 4rem, 6rem);
        }

        &__off-screen-menu {
            display:none;
        }
    
        &__hamburguer {
            display: none;
        }
    }

    .footer {
     
        &__logo {
            scale: 4;
        }
    
        &__li {
            font-size: clamp(2rem, 4rem, 8rem);
        }
    
        &__li:hover {
            color: $cor-white;
            cursor: pointer;
        }
    
        &__icon {
            scale: 3;
            padding: 0rem 4rem;
        }
    
        &__icon:hover {
            scale: 6;
        }
    
        &__icon:focus {
            scale: 6;
        }
    
    }
    
    .section {
    
        &__titulo {
            font-size: clamp(3.5rem, 7rem, 14rem);
            margin: 0 36rem 0 0;
        }

        &__titulo:nth-child(1) {
            margin-left: 16rem;
        }
    
        &__paragrafo {
            font-size: clamp(1.5rem, 3rem, 6rem);
        }
    
        &__btt {
            position: relative;
            left: -20vw;
            top: clamp(1rem, 2.22vw, 4rem);
        }
    
        &__button {
            font-size: clamp(1.5rem, 3rem, 6rem);
            left: 20rem;
        }
    
        
    }
    
    .section-5,
    .section-6 {
    
        &__titulo {
            font-size: clamp(3rem, 6rem, 12rem);
            margin: clamp(5rem, 35rem, 40rem) clamp(1.25rem, 10vw, 16rem) clamp(2rem, 4rem, 8rem) clamp(1.25rem, 10vw, 16rem);
        }
    
        &__paragrafo {
            font-size: clamp(2rem, 3rem, 4rem);
            margin: 5rem clamp(1.25rem, 10vw, 16rem) clamp(1rem, 3.33vw, 4rem) clamp(1.25rem, 10vw, 16rem);
        }
    }
    
    .section-7 {
    
        &__titulo {
            font-size: clamp(2rem, 4rem, 8rem);
            padding-bottom: 10rem;   
        }
    
        &__avatar {
            width: 150px;
            height: 150px;
            border-radius: 75px;
        }
    
        &__paragrafo {
            font-size: clamp(2rem, 3rem, 4rem);
        }
    
        &__nome {
            font-size: clamp(2rem, 3rem, 4rem);
        }
    
        &__cargo {
            font-size: clamp(1.5rem, 2.5rem, 3.75rem);
            padding-bottom: 20rem;
        }
    }

}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}


 