@charset "UTF-8";
@keyframes moveArrow {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(5rem);
  }
}
/* Variáveis - Fontes do Google */
/* Variáveis - Cores */
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

/* Estilização Global */
body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: 55.56vw 41.665vw 41.665vw 41.665vw 5fr 31.04vw 1.75fr;
  grid-template-areas: "header header header header" "section-1 section-1 section-2 section-2" "section-3 section-3 section-4 section-4" "section-5 section-5 section-6 section-6" "section-7 section-7 section-7 section-7" "section-8 section-9 section-10 section-11" "footer footer footer footer";
}

.main {
  display: contents;
}

.header {
  grid-area: header;
  background-image: url("images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.header__titulo {
  font-family: "Fraunces", serif;
  font-size: clamp(2.25rem, 3.88vw, 7.625rem);
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  letter-spacing: clamp(0.25rem, 0.66vw, 1rem);
  text-transform: uppercase;
  padding-bottom: clamp(2.5rem, 6.66vw, 10rem);
  padding-top: 1vw;
}
.header__seta {
  align-self: center;
  animation: moveArrow 2s 4s infinite alternate;
}

.hero {
  position: relative;
}
.hero__imagem {
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: clamp(2.2rem, 1.8vw, 4rem);
  padding-left: clamp(2rem, 1.44vw, 6rem);
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(0.75rem, 1.66vw, 2rem) clamp(0.5rem, 1.11vw, 1.5rem) clamp(0.75rem, 1.66vw, 2rem) clamp(0.5rem, 1.11vw, 1.5rem);
}
.nav__ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: clamp(1rem, 2.22vw, 3rem);
  color: hsl(0, 0%, 100%);
}
.nav__li {
  padding-right: clamp(1rem, 3.33vw, 4rem);
}
.nav__a {
  font-weight: 500;
  font-size: clamp(0.75rem, 1.27vw, 2.25rem);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.nav__a:hover {
  padding-bottom: clamp(0.15rem, 0.28vw, 0.5rem);
  border-bottom: clamp(0.5rem, 0.55vw, 1rem) solid hsl(51, 100%, 49%);
}
.nav__a:focus {
  padding-bottom: clamp(0.15rem, 0.28vw, 0.5rem);
  border-bottom: clamp(0.5rem, 0.55vw, 1rem) solid hsl(51, 100%, 49%);
}
.nav__button {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: clamp(0.5rem, 1.11vw, 1.5rem);
  color: #25564b;
  text-decoration: none;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 100%);
  padding: clamp(0.5rem, 1.11vw, 1.5rem) clamp(0.75rem, 1.66vw, 2rem) clamp(0.5rem, 1.11vw, 1.5rem) clamp(0.75rem, 1.66vw, 2rem);
  border-radius: clamp(0.75rem, 1.66vw, 2rem);
  border: none;
  transition: all 0.3s ease-in-out;
  align-self: center;
}
.nav__button:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}
.nav__button:focus {
  background-color: hsla(0, 0%, 100%, 0.5);
}
.nav__off-screen-menu {
  display: none;
}
.nav__hamburguer {
  display: none;
}

.section-1 {
  grid-area: section-1;
}

.section-2 {
  grid-area: section-2;
}
.section-2__imagem--mobile {
  display: none;
}

.section-3 {
  grid-area: section-3;
}

.section-4 {
  grid-area: section-4;
}

.section-5 {
  grid-area: section-5;
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.section-6 {
  grid-area: section-6;
  background-image: url("images/desktop/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.container-section {
  display: contents;
}

.section-7 {
  grid-area: section-7;
}

.section-8 {
  grid-area: section-8;
}

.section-9 {
  grid-area: section-9;
}

.section-10 {
  grid-area: section-10;
}

.section-11 {
  grid-area: section-11;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8cd0cb;
  padding: clamp(2.5rem, 3.33vw, 4rem) 0rem clamp(2.5rem, 3.33vw, 4rem) 0rem;
}
.footer__logo {
  scale: 1.4;
}
.footer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.footer__li {
  font-family: "Barlow", sans-serif;
  font-size: clamp(1rem, 1.33vw, 2.4rem);
  color: #25564b;
  font-weight: 600;
  padding: clamp(1rem, 2.22vw, 3rem) clamp(1rem, 2.22vw, 3rem) clamp(1rem, 3.33vw, 4rem) clamp(1rem, 2.22vw, 3rem);
  transition: all 0.6s ease-in-out;
}
.footer__li:hover {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.footer__li:focus {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
}
.footer__icon {
  padding: 0rem 1rem;
  fill: hsl(168, 34%, 41%);
  transition: all 0.3s ease-in-out;
}
.footer__icon:hover {
  scale: 2;
  cursor: pointer;
}
.footer__icon:focus {
  scale: 2;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__imagem {
  width: 100%;
}
.section__titulo {
  font-family: "Fraunces", serif;
  font-size: clamp(2.2rem, 3.055vw, 88px);
  font-weight: 800;
  line-height: 1;
  text-align: left;
  margin: 0 clamp(1rem, 10vw, 16rem) 0 clamp(1rem, 10vw, 16rem);
  color: hsl(212, 27%, 19%);
  padding-bottom: clamp(2rem, 2.22vw, 4rem);
}
.section__paragrafo {
  font-family: "Barlow", sans-serif;
  font-size: clamp(1rem, 1.27vw, 2.25rem);
  color: hsl(232, 10%, 55%);
  font-weight: 600;
  text-align: left;
  margin: 0 clamp(1rem, 10vw, 16rem) 0 clamp(1rem, 10vw, 16rem);
}
.section__btt {
  position: relative;
  left: -20vw;
  top: clamp(1rem, 2.22vw, 4rem);
}
.section__button {
  position: relative;
  font-family: "Fraunces", serif;
  font-size: clamp(1rem, 1.22vw, 2.2rem);
  font-weight: 700;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: clamp(0.15rem, 0.28vw, 0.5rem);
  color: hsl(212, 27%, 19%);
  padding: clamp(0.5rem, 1.11vw, 1.5rem) 0 clamp(0.5rem, 1.11vw, 1.5rem) 0;
  border: none;
  background-color: transparent;
  transition: all 0.6s ease-in-out;
  left: clamp(1.25rem, 12vw, 16rem);
}

.section__button--yellow {
  text-decoration-color: hsla(51, 100%, 49%, 0.35);
  text-decoration-line:  underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.5rem;
  text-underline-offset: -0.25rem;
  text-decoration-skip-ink: none;
}

.section__button--pink {
  text-decoration-color: hsla(7, 99%, 70%, 0.35);
  text-decoration-line:  underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.5rem;
  text-underline-offset: -0.25rem;
  text-decoration-skip-ink: none;
}

.section__button:hover {
  cursor: pointer;
  color: hsl(232, 10%, 55%);
}
.section__button:focus {
  cursor: pointer;
  color: hsl(232, 10%, 55%);
}

.section-5,
.section-6 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section-5__titulo,
.section-6__titulo {
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  margin: 0 clamp(1.25rem, 10vw, 16rem) clamp(1rem, 3.33vw, 4rem) clamp(1.25rem, 10vw, 16rem);
  color: #25564b;
}
.section-5__paragrafo,
.section-6__paragrafo {
  font-family: "Barlow", sans-serif;
  font-size: clamp(1rem, 1.22vw, 2.2rem);
  color: #25564b;
  font-weight: 600;
  text-align: center;
  margin: 0 clamp(1.25rem, 10vw, 16rem) clamp(1rem, 3.33vw, 4rem) clamp(1.25rem, 10vw, 16rem);
}

.section-gallery__imagem {
  width: 25vw;
  height: 31.04vw;
}
.section-gallery__imagem--mobile {
  display: none;
}

.section-7 {
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: 1.25fr 3fr;
  gap: 1rem;
  margin: 0 5rem;
  grid-template-areas: "section-7_container section-7_container section-7_container" "article-1 article-2 article-3";
}
.section-7__titulo {
  font-family: "Fraunces", serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: hsl(210, 4%, 67%);
  padding-bottom: 4rem;
}
.section-7__article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0rem clamp(1rem, 2.22vw, 3rem);
}
.section-7__avatar {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
}
.section-7__paragrafo {
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  font-weight: 600;
  font-size: clamp(1rem, 1.33vw, 2.4rem);
  letter-spacing: 0.025;
  padding-top: 3rem;
}
.section-7__nome {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 3rem;
}
.section-7__cargo {
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  font-weight: 600;
  font-size: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.section-7__container {
  grid-area: section-7_container;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.article-1 {
  grid-area: article-1;
}

.article-2 {
  grid-area: article-2;
}

.article-3 {
  grid-area: article-3;
}

@media only screen and (min-width: 320px) and (max-width: 499.99px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 140.6vw 83.2vw 120vw 83.2vw 120vw 160vw 160vw 280vw 50vw 50vw 50vw;
    grid-template-areas: "header header" "section-2 section-2" "section-1 section-1" "section-3 section-3" "section-4 section-4" "section-5 section-5" "section-6 section-6" "section-7 section-7" "section-7 section-7" "section-8 section-9" " section-10 section-11" "footer footer";
  }
  .header {
    grid-area: header;
    background-image: url("images/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: content;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .header__titulo {
    padding-top: 2rem;
  }
  .nav__logo {
    padding-top: 0.8rem;
  }
  .nav__menu {
    display: none;
  }
  .nav__off-screen-button {
    margin-right: 0;
    margin-top: 0.75rem;
    margin-bottom: 0;
    background-color: hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
    font-weight: 600;
    font-size: 0.95rem;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .nav__off-screen-button:hover {
    background-color: hsl(210, 4%, 67%);
    color: hsl(0, 0%, 100%);
  }
  .nav__off-screen-button:focus {
    background-color: hsl(210, 4%, 67%);
    color: hsl(0, 0%, 100%);
  }
 
  .nav__off-screen-menu {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .nav__off-screen-menu.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 7rem;
    right: -95%;
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    margin: 0 5%;
    z-index: 1;
  }

  .nav__off-screen-list {
    list-style: none;
    text-align: center;
    transform: translate(-10%, 0);
  }
  .nav__off-screen-li {
    padding-bottom: 1.25rem;
  }
  .nav__off-screen-li:first-child {
    padding-top: 1rem;
  }
  .nav__off-screen-a {
    text-decoration: none;
    color: hsl(232, 10%, 55%);
    font-weight: 600;
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
    transition: all 0.3s ease-in-out;
  }
  .nav__off-screen-a:hover {
    text-decoration-line: underline;
    text-decoration-color: hsl(51, 100%, 49%);
    border-bottom: 0.5rem solid hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
  }
  .nav__off-screen-a:focus {
    text-decoration-line: underline;
    text-decoration-color: hsl(51, 100%, 49%);
    border-bottom: 0.5rem solid hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
  }
  .nav__off-screen-menu.active {
    right: 0;
  }
  .nav__triangulo {
    display: block;
    height: 3.25vh;
    width: 6.5vw;
    position: absolute;
    top: -3.25vh;
    right: -5%;
    margin: 0 5%;
    z-index: 1;
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, hsl(0, 0%, 100%) 50%, hsl(0, 0%, 100%) 100%);
  }
  .nav__hamburguer {
    display: block;
    height: 20px;
    width: 20px;
    margin: 2rem 1rem;
    top: 0;
    right: 0;
    position: relative;
    cursor: pointer;
    padding: 1rem;
  }


  .nav__hamburguer__bar {
    width: 75%;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s, opacity 0.8s, top 0.6s;
  }
  .nav__hamburguer.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }
  .nav__hamburguer.active .bar-mid {
    opacity: 0;
  }
  .nav__hamburguer.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }
  .bar-top {
    top: 25%;
  }
  .bar-bottom {
    top: 75%;
  }
  .section {
    display: flex;
    justify-content: center;
  }
  .section__titulo {
    text-align: center;
  }
  .section__paragrafo {
    text-align: center;
  }
  .section__button {
    text-align: center;
  }
  .section__button--yellow::before {
    width: 42.7vw;
  }
  .section__button--pink::before {
    width: 42.7vw;
  }
  .section__btt {
    left: -12vw;
  }
  .section-2 {
    margin: 0;
    padding: 0;
  }
  .section-2__imagem--desktop {
    display: none;
  }
  .section-2__imagem--mobile {
    display: block;
    height: 83.2vw;
  }
  .section-5 {
    grid-area: section-5;
    background-image: url("images/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-6 {
    grid-area: section-6;
    background-image: url("images/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-5__titulo,
  .section-6__titulo {
    padding-top: 85vw;
    padding-bottom: 5vw;
  }
  .section-7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.8fr 0.8fr 0.8fr;
    margin: 1rem 1rem 2rem 1rem;
    grid-template-areas: "section-7_container" "article-1" "article-2" "article-3";
  }
  .section-7__titulo {
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }
  .section-7__article {
    padding: 0rem 1rem;
  }
  .section-7__avatar {
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }
  .section-7__paragrafo {
    color: hsl(213, 9%, 39%);
    font-weight: 600;
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  .section-7__nome {
    padding-top: 0.5rem;
  }
  .section-7__cargo {
    margin-top: 0.25rem;
  }
  .section-gallery__imagem {
    display: none;
  }
  .section-gallery__imagem--mobile {
    display: block;
    width: 50vw;
    height: 50vw;
  }
  .footer {
    background-color: #8cd0cb;
  }
  .footer__titulo {
    padding-top: 2rem;
  }
}
@media only screen and (min-width: 500px) and (max-width: 649.99px) {
  .container {
    grid-template-rows: 65vw 41.665vw 41.665vw 41.665vw 5fr 31.04vw 1.75fr;
  }
  .header {
    background-size: cover;
    background-position: center;
  }
  .header__seta {
    scale: 0.65;
  }
  .nav__logo {
    height: 3.5vw;
  }
  .section__titulo {
    font-size: 1rem;
    margin: 0 1rem 0 1rem;
  }
  .section__paragrafo {
    font-size: 0.7rem;
    margin: 0 1rem 0 1rem;
  }
  .section__button {
    font-size: 0.7rem;
    left: 3.5rem;
  }
  .section__button--yellow::before {
    width: 23.18vw;
  }
  .section__button--pink::before {
    width: 23.18vw;
  }
  .section-5__titulo,
  .section-6__titulo {
    font-size: 1.25rem;
    margin: 1rem 0rem 1rem 1rem;
  }
  .section-5__paragrafo,
  .section-6__paragrafo {
    font-size: 0.75rem;
    margin: 1rem 0rem 1rem 1rem;
  }
  .section-7 {
    margin: 0 1rem;
    gap: 1rem;
  }
  .section-7__titulo {
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .section-7__article {
    padding: 0rem;
  }
  .section-7__paragrafo {
    font-size: 0.8rem;
    padding-top: 2rem;
  }
  .section-7__nome {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 650px) and (max-width: 799.99px) {
  .header__seta {
    scale: 0.75;
    align-self: center;
    animation: moveArrow 2s 4s infinite alternate;
  }
  .nav__logo {
    height: 3.5vw;
  }
  .section__titulo {
    font-size: 1.8rem;
    margin: 0 2rem 0 2rem;
  }
  .section__paragrafo {
    font-size: 0.9rem;
    margin: 0 2rem 0 2rem;
  }
  .section__button {
    font-size: 1rem;
    left: 5rem;
  }
  .section__button--yellow::before {
    width: 23.18vw;
  }
  .section__button--pink::before {
    width: 23.18vw;
  }
  .section-5__paragrafo,
  .section-6__paragrafo {
    margin: 2rem 1rem 1rem 1rem;
  }
  .section-7 {
    margin: 0 1rem;
    gap: 1rem;
  }
  .section-7__titulo {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .section-7__article {
    padding: 0rem;
  }
  .section-7__paragrafo {
    padding-top: 2rem;
  }
  .section-7__nome {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 999.99px) {
  .nav__logo {
    height: 3.5vw;
  }
  .nav__a:hover {
    padding-bottom: clamp(0.15rem, 0.28vw, 0.5rem);
    border-bottom: clamp(0.5rem, 0.55vw, 1rem) solid hsl(0, 0%, 100%);
  }
  .nav__a:focus {
    padding-bottom: clamp(0.15rem, 0.28vw, 0.5rem);
    border-bottom: clamp(0.5rem, 0.55vw, 1rem) solid hsl(0, 0%, 100%);
  }
  .section__btt {
    left: -35%;
    top: 1%;
  }
  .section__button--yellow::before {
    width: 19.52vw;
  }
  .section__button--pink::before {
    width: 19.52vw;
  }
  .section-5__paragrafo,
  .section-6__paragrafo {
    margin: 2rem 1rem 1rem 1rem;
  }
  .section-7__titulo {
    padding-bottom: 2rem;
  }
  .section-7__article {
    padding: 0rem 1rem;
  }
  .section-7__paragrafo {
    padding-top: 2rem;
  }
  .section-7__nome {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 2500.01px) {
  .header__titulo {
    font-size: 12rem;
  }
  .header__seta {
    scale: 3;
  }
  .nav__logo {
    height: 8rem;
  }
  .nav__ul {
    padding-right: 4rem;
  }
  .nav__li {
    padding-right: 8rem;
  }
  .nav__a {
    font-size: 4rem;
  }
  .nav__button {
    font-size: 4rem;
    padding: 2rem 4rem;
    border-radius: 4rem;
  }
  .nav__off-screen-menu {
    display: none;
  }
  .nav__hamburguer {
    display: none;
  }
  .footer__logo {
    scale: 4;
  }
  .footer__li {
    font-size: 4rem;
  }
  .footer__li:hover {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  .footer__icon {
    scale: 3;
    padding: 0rem 4rem;
  }
  .footer__icon:hover {
    scale: 6;
  }
  .footer__icon:focus {
    scale: 6;
  }
  .section__titulo {
    font-size: 7rem;
    margin: 0 36rem 0 0;
  }
  .section__titulo:nth-child(1) {
    margin-left: 16rem;
  }
  .section__paragrafo {
    font-size: 3rem;
  }
  .section__btt {
    position: relative;
    left: -20vw;
    top: clamp(1rem, 2.22vw, 4rem);
  }
  .section__button {
    font-size: 3rem;
    left: 20rem;
  }
  .section-5__titulo,
  .section-6__titulo {
    font-size: 6rem;
    margin: 35rem clamp(1.25rem, 10vw, 16rem) 4rem clamp(1.25rem, 10vw, 16rem);
  }
  .section-5__paragrafo,
  .section-6__paragrafo {
    font-size: 3rem;
    margin: 5rem clamp(1.25rem, 10vw, 16rem) clamp(1rem, 3.33vw, 4rem) clamp(1.25rem, 10vw, 16rem);
  }
  .section-7__titulo {
    font-size: 4rem;
    padding-bottom: 10rem;
  }
  .section-7__avatar {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
  .section-7__paragrafo {
    font-size: 3rem;
  }
  .section-7__nome {
    font-size: 3rem;
  }
  .section-7__cargo {
    font-size: 2.5rem;
    padding-bottom: 20rem;
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=styles.css.map */