@charset "UTF-8";
/* Variáveis - Fontes do Google */
/* Variáveis - Cores */
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

/* Estilização Global */
body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2.4fr 1.8fr 1.8fr 1.8fr 2.4fr 31.04vw 1fr;
  grid-template-areas: "header header header header" "section-1 section-1 section-2 section-2" "section-3 section-3 section-4 section-4" "section-5 section-5 section-6 section-6" "section-7 section-7 section-7 section-7" "section-8 section-9 section-10 section-11" "footer footer footer footer";
}

.main {
  display: contents;
}

.header {
  grid-area: header;
}

.section-1 {
  grid-area: section-1;
}

.section-2 {
  grid-area: section-2;
}

.section-3 {
  grid-area: section-3;
}

.section-4 {
  grid-area: section-4;
}

.section-5 {
  grid-area: section-5;
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.section-6 {
  grid-area: section-6;
  background-image: url("images/desktop/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.container-section {
  display: contents;
}

.section-7 {
  grid-area: section-7;
}

.section-8 {
  grid-area: section-8;
}

.section-9 {
  grid-area: section-9;
}

.section-10 {
  grid-area: section-10;
}

.section-11 {
  grid-area: section-11;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8cd0cb;
  padding: 3rem 0rem;
}
.footer__logo {
  scale: 1.4;
}
.footer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.footer__li {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  color: #25564b;
  font-weight: 600;
  padding: 2rem 2rem 3rem 2rem;
  transition: all 0.6s ease-in-out;
}
.footer__li:hover {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
}
.footer__icon {
  padding: 0rem 1rem;
  fill: hsl(168, 34%, 41%);
  transition: all 0.3s ease-in-out;
}
.footer__icon:hover {
  scale: 2;
  cursor: pointer;
}

.hero {
  display: flex;
}
.hero__imagem {
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__imagem {
  width: 100%;
}
.section__titulo {
  font-family: "Fraunces", serif;
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1;
  text-align: left;
  margin: 0 9rem;
  color: hsl(212, 27%, 19%);
  padding-bottom: 2rem;
}
.section__paragrafo {
  font-family: "Barlow", sans-serif;
  font-size: 1.15rem;
  color: hsl(232, 10%, 55%);
  font-weight: 600;
  text-align: left;
  margin: 0 9rem;
}
.section__btt {
  position: relative;
  left: -20%;
  top: 2rem;
}
.section__button {
  font-family: "Fraunces", serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.25;
  margin: 0 9rem;
  color: hsl(212, 27%, 19%);
  padding: 1rem 0rem;
  border: none;
  background-color: transparent;
  transition: all 0.6s ease-in-out;
}
.section__button:hover {
  cursor: pointer;
  color: hsl(232, 10%, 55%);
}
.section__underline {
  position: absolute;
  width: 10.25rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: hsl(51, 100%, 49%);
  margin: 0 8.5rem;
  top: 1.75rem;
  z-index: -1;
  opacity: 40%;
  transition: all 0.6s ease-in-out;
}
.section__underline--pink {
  position: absolute;
  width: 10.25rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: hsl(7, 99%, 70%);
  margin: 0 8.5rem;
  top: 1.75rem;
  z-index: -1;
  opacity: 40%;
  transition: all 0.6s ease-in-out;
}

.section-5,
.section-6 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section-5__titulo,
.section-6__titulo {
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  margin: 0rem 9rem 3rem 9rem;
  color: #25564b;
}
.section-5__paragrafo,
.section-6__paragrafo {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  color: #25564b;
  font-weight: 500;
  text-align: center;
  margin: 0rem 9rem 4rem 9rem;
}

.section-gallery__imagem {
  width: 25vw;
  height: 31.04vw;
}

.section-7 {
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: 1.25fr 3fr;
  gap: 1rem;
  margin: 0 5rem;
  grid-template-areas: "section-7_container section-7_container section-7_container" "article-1 article-2 article-3";
}
.section-7__titulo {
  font-family: "Fraunces", serif;
  font-size: 1.15rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: hsl(210, 4%, 67%);
  padding-bottom: 4rem;
}
.section-7__article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0rem 2rem;
}
.section-7__avatar {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
}
.section-7__paragrafo {
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.025;
  padding-top: 3rem;
}
.section-7__nome {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 3rem;
}
.section-7__cargo {
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  font-weight: 600;
  font-size: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.section-7__container {
  grid-area: section-7_container;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.article-1 {
  grid-area: article-1;
}

.article-2 {
  grid-area: article-2;
}

.article-3 {
  grid-area: article-3;
}/*# sourceMappingURL=styles-backup-1.css.map */